#accordion-title {
    background-color:#fff;
    height:60px;
    padding-left:25px;
    border-bottom:1px solid #e4e6e5;
    h1 {
        font-size:18px;
        color:#333;
        line-height:60px;
    }
}

#accordion-wrapper {
    display: inline-block;
    width: 100%;
    .accordion-item {
        background:#fff;
        float:left;
        width:100%;
        box-sizing:border-box;
        border-bottom:1px solid #e4e6e5;
        box-shadow:0px 2px 3px rgba(0,0,0,0.2);
        .container-icon {
            padding-right: 25px;
            padding-top: 10px;
            float: right;
            cursor:pointer;
            .fa-angle-down {
                color: #0465ac;
                font-size: 26px;
                z-index:-1;
                transform: rotate(0deg);
                transition: transform 0.5s linear;
            }
        }
        .accordion-item-container {
            padding: 10px 0 10px 25px;
            height: 50px;
            cursor:pointer;
            &.no-description {
                padding: 0px 0px 0px 25px;
                .container-icon{
                    padding-top:12px;
                }
            }
            .container-titles {
                display: table-cell;
                vertical-align: middle;
                height:50px;
                h2 {
                    color:#0465ac;
                    font-size:14px;
                    font-weight: bold;
                }
                h3 {
                    font-size:14px;
                    font-weight: bold;
                    color:#999;
                }
            }
        }
        .accordion-item-content {
            width: 100%;
            display:none;
            .accordion-item-text{
                p {
                    font-size:13px;
                    color:#333;
                    padding:0 25px 25px 25px;
                }
            }
        }
        &.open {    
            h2 {
            font-size:18px !important;
            }
            margin-top: 30px;
            margin-bottom: 30px;
            box-shadow:0px 2px 3px rgba(0,0,0,0.2);
            .fa-angle-down {        
             transform: rotate(180deg);
             transition: transform 0.5s linear;
            }  
            .accordion-item-content { 
             padding-top:5px;
             display:block;
             -webkit-transform: scaleY(1);
             -o-transform: scaleY(1);
             -ms-transform: scaleY(1);
             transform: scaleY(1);
             -webkit-transform-origin: top;
             -o-transform-origin: top;
             -ms-transform-origin: top;
             transform-origin: top;
             -webkit-transition: -webkit-transform 0.4s ease-out;
             -o-transition: -o-transform 0.4s ease;
             -ms-transition: -ms-transform 0.4s ease;
             transition: transform 0.4s ease;
             box-sizing: border-box;       
            }
          }
          &.close {
            .accordion-item-content { 
                height: 0px;
                -webkit-transition: height 1s ease-out;
                transition: height 1s ease-out;
                -webkit-transform: scaleY(0);
                transform: scaleY(0);
                float: left;
                display: block;
          }
        }
    }
}