@import "reset";
@import "header";
@import "profile";
@import "chat";

body{    
    background-color:#edebec;
    font-family:'Calibri',Arial,sans-serif;

    #container-grid {
        padding:0 25px;
        display: block;
        margin:0 auto;
 }
}
